@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

.footer {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid #ddd;
  color: #333;
}

.footer-icons {
  margin-bottom: 0.5rem;
}

.footer a {
  margin: 0 1rem;
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer a:hover {
  color: #007bff;
}

.footer-copy {
  font-size: 0.875rem;
  color: #666;
}
